@page "/Product/{category}"
@using FluentBlazor_Project.Components.Pages.Product_Pages
@using FluentBlazor_Project.Data.Models
@inject NavigationManager Navigation
@inject IStringLocalizer<Resource> Localizer

<h1>@pageTitle</h1>
<nav style="margin-bottom: 20px;">
    <a href="/" style="text-decoration: none; color: #666;">@Localizer["home"]</a> >
    <span style="color: #000;">@Category</span>
</nav>
<FluentDivider />

@if (filteredProducts.Any())
{
    <div style="display: flex; flex-wrap: wrap; gap: 16px; padding: 10px;">
        @foreach (var product in filteredProducts)
        {
            <ProductCard Id="@product.Id" Name="@product.Name" Price="@product.Price" Category="@product.Category" />
        }
    </div>
}
else
{
    <p>@Localizer["noProduct"]</p>
}